* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  background: url("../img/background_1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.header::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.55);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.header .header-container {
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
  position: relative;
  z-index: 1;
}

.header .header-container .header-logo {
  padding: 45px 0;
  border-bottom: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-container .header-logo .header-logo-box {
  color: #000000;
}

.header .header-container .header-logo .header-logo-box .header-logo-active {
  color: #66697e;
}

.header .header-container .header-logo .header-menu {
  width: 585px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header .header-container .header-logo .header-menu a {
  color: #ffffff;
}

.header .header-container .header-title-discription-button {
  padding: 155px 0 157px;
}

.header .header-container .header-title-discription-button .header-title {
  padding-bottom: 41px;
  margin: auto;
  max-width: 865px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

.header .header-container .header-title-discription-button .header-title h1 {
  font-size: 65px;
}

.header .header-container .header-title-discription-button .header-discription {
  padding-bottom: 76px;
  margin: auto;
  text-align: center;
  max-width: 912px;
  color: #ffffff;
  font-size: 22px;
}

.header .header-container .header-title-discription-button .header-button {
  width: 201px;
  height: 47px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e84545;
  border: 0;
  color: #ffffff;
  font-size: 13px;
}

.header .header-container .header-title-discription-button .header-button:hover {
  cursor: pointer;
}

.header .header-container .header-title-discription-button .header-button:active {
  -webkit-box-shadow: inset -2px -2px 3px rgba(216, 216, 216, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
          box-shadow: inset -2px -2px 3px rgba(216, 216, 216, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.features {
  width: 100%;
  padding: 120px 0 49px;
}

.features-container {
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
}

.features-container-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.features-container-row-item-icon {
  height: 60px;
  width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  margin-bottom: 34px;
}

.features-container-row-item {
  width: 296px;
  margin: 0 20px 74px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.features-container-row-item-title {
  padding-bottom: 25px;
}

.features-container-row-item-discription {
  font-size: 14px;
  color: #6c7279;
}

.download-container {
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
}

.download-title-discription-button {
  padding: 99px 0 99px;
}

.download-title-discription-button .download-title {
  padding-bottom: 16px;
  margin: auto;
  max-width: 865px;
  text-align: center;
  color: #2d3033;
  text-transform: uppercase;
  font-size: 28px;
}

.download-title-discription-button .download-discription {
  padding-bottom: 39px;
  margin: auto;
  text-align: center;
  max-width: 912px;
  color: #2d3033;
  font-size: 13px;
}

.download-title-discription-button .download-button {
  width: 201px;
  height: 47px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e84545;
  border: 0;
  color: #ffffff;
  font-size: 13px;
}

.download-title-discription-button .download-button:hover {
  cursor: pointer;
}

.download-title-discription-button .download-button:active {
  -webkit-box-shadow: inset -2px -2px 3px rgba(216, 216, 216, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
          box-shadow: inset -2px -2px 3px rgba(216, 216, 216, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.footer-top {
  background-color: #3a3e64;
}

.footer-container {
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
}

.footer-container-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.footer-container-row-item-a,
.footer-container-row-item-c {
  padding: 72px 0 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-container-row-item-b {
  padding: 72px 0 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.footer-container-row-title {
  text-align: center;
  padding-bottom: 32px;
  color: #fff;
}

.footer-container-row-discription-b-icon {
  height: 41px;
  width: 41px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 3px;
}

.footer-container-row-discription {
  color: #808080;
}

.footer-container-row-discription-b {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer-container-row-item-c {
  max-width: 328px;
}

.footer-container-row-item-a {
  max-width: 146px;
}

.footer-end {
  background-color: #313454;
}

.footer-end-container {
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
}

.footer-end-container-copyright {
  text-align: center;
  padding: 30px 0;
  color: #808080;
}

.heart {
  color: red;
}

.footer-end-text-by-kamal-chaneman {
  color: #ffffff;
}

header,
footer,
.section {
  width: 100%;
}
