@charset "UTF-8";
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  background: url("../img/background_1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 100vh;
}

.header::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(43, 46, 74, 0.8);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.header-container {
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
  position: relative;
  z-index: 1;
}

.header-container .header-container-logo {
  padding: 38px 0;
  border-bottom: 1px solid #66697e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1023px) {
  .header-container .header-container-logo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding: 10px 0;
  }
}

.header-container .header-container-logo .header-container-logo-box {
  color: #ffffff;
  font-size: 2.125rem;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
}

@media screen and (max-width: 1023px) {
  .header-container .header-container-logo .header-container-logo-box {
    padding-bottom: 20px;
  }
}

.header-container .header-container-logo .header-container-logo-box .header-container-logo-active {
  color: #66697e;
  font-size: 2.125rem;
  font-weight: 900;
  font-family: "Raleway", sans-serif;
}

.header-container .header-container-logo .header-container-menu-row {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.header-container .header-container-logo .header-container-menu-row .header-container-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 0.8125rem;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
}

@media screen and (max-width: 1023px) {
  .header-container .header-container-logo .header-container-menu-row .header-container-menu {
    min-width: 0;
    max-width: 400px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header-container .header-container-logo .header-container-menu-row .header-container-menu .header-container-menu-item {
  color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0);
}

@media screen and (max-width: 1023px) {
  .header-container .header-container-logo .header-container-menu-row .header-container-menu .header-container-menu-item {
    min-width: 0;
    margin-left: 0;
    text-align: center;
  }
}

.header-container .header-container-logo .header-container-menu-row .header-container-menu .header-container-menu-item:hover {
  color: #e84545;
}

.header-container .header-container-title-discription-button {
  padding: 155px 0 157px;
}

@media (min-width: 361px) and (max-width: 1700px) {
  .header-container .header-container-title-discription-button {
    padding: 100px 0;
  }
}

@media (max-width: 360px) {
  .header-container .header-container-title-discription-button {
    padding: 15px 0 30px;
  }
}

.header-container .header-container-title-discription-button .header-container-title {
  padding-bottom: 30px;
  margin: auto;
  max-width: 865px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

.header-container .header-container-title-discription-button .header-container-title h1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.1;
  font-family: "Open Sans", sans-serif;
}

@media screen and (max-width: 1023px) {
  .header-container .header-container-title-discription-button .header-container-title h1 {
    font-size: 30px;
  }
}

.header-container .header-container-title-discription-button .header-container-discription {
  padding-bottom: 76px;
  margin: auto;
  text-align: center;
  max-width: 912px;
  color: #ffffff;
  font-size: 1.375rem;
  font-family: "Raleway", sans-serif;
}

@media screen and (max-width: 1023px) {
  .header-container .header-container-title-discription-button .header-container-discription {
    font-size: 12px;
  }
}

@media screen and (max-width: 375px) {
  .header-container .header-container-title-discription-button .header-container-discription {
    font-size: 12px;
    padding-bottom: 66px;
  }
}

.header-container .header-container-title-discription-button .header-container-button {
  width: 201px;
  height: 47px;
  border-radius: 2px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e84545;
  border: 0;
  color: #ffffff;
  font-size: 0.8125rem;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.header-container .header-container-title-discription-button .header-container-button:hover {
  cursor: pointer;
  color: #000000;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.header-container .header-container-title-discription-button .header-container-button:active {
  -webkit-box-shadow: inset -2px -2px 3px rgba(216, 216, 216, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
          box-shadow: inset -2px -2px 3px rgba(216, 216, 216, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.header-container-menu-li,
.header-container-menu-item {
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.header-container-menu-li:before,
.header-container-menu-item:before {
  content: "";
  width: 0;
  height: 0.1em;
  position: absolute;
  bottom: 0;
  left: 50%;
  background: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header-container-menu-li:hover,
.header-container-menu-item:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.header-container-menu-li:hover:before,
.header-container-menu-item:hover:before {
  width: 100%;
  left: 0;
  background: #e84545;
}

@media screen and (max-width: 1023px) {
  .header-container-menu-li {
    margin-bottom: 10px;
  }
}

.features {
  width: 100%;
  padding: 120px 0 49px;
}

.features .features-container {
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
}

.features .features-container .features-container-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.features .features-container .features-container-row-item {
  width: 296px;
  margin: 0 20px 74px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.features .features-container .features-container-row-item .features-container-row-item-icon {
  height: 60px;
  width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  margin-bottom: 34px;
}

.features .features-container .features-container-row-item .features-container-row-item-icon img {
  height: 60px;
  width: 60px;
}

.features .features-container .features-container-row-item .features-container-row-item-title {
  padding-bottom: 25px;
  font-size: 0.875rem;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
}

.features .features-container .features-container-row-item .features-container-row-item-discription {
  font-size: 0.875rem;
  color: #6c7279;
  font-family: "Raleway", sans-serif;
}

.download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.download .download-container {
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
}

.download .download-container .download-container-title-discription-button {
  padding: 99px 0 99px;
}

.download .download-container .download-container-title-discription-button .download-container-title {
  padding-bottom: 16px;
  margin: auto;
  max-width: 865px;
  text-align: center;
  color: #2d3033;
}

.download .download-container .download-container-title-discription-button .download-container-title .download-container-title-text {
  font-size: 1.75rem;
  text-transform: capitalize;
  font-weight: 300;
  font-family: "Raleway", sans-serif;
}

.download .download-container .download-container-title-discription-button .download-container-discription {
  padding-bottom: 39px;
  margin: auto;
  text-align: center;
  max-width: 912px;
  color: #2d3033;
  font-size: 0.8125rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
}

.download .download-container .download-container-title-discription-button .download-container-button {
  width: 281px;
  height: 47px;
  border-radius: 2px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e84545;
  border: 0;
  color: #ffffff;
  font-size: 0.8125rem;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.download .download-container .download-container-title-discription-button .download-container-button:hover {
  cursor: pointer;
  color: #000000;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.download .download-container .download-container-title-discription-button .download-container-button:active {
  -webkit-box-shadow: inset -2px -2px 3px rgba(216, 216, 216, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
          box-shadow: inset -2px -2px 3px rgba(216, 216, 216, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.footer-top {
  background-color: #3a3e64;
}

.footer-top-container {
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
}

.footer-top-container-row {
  padding: 72px 0 87px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  margin-left: -15px;
  margin-right: -15px;
}

@media (max-width: 1100px) {
  .footer-top-container-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 0;
  }
}

.footer-top-container-row-item-a,
.footer-top-container-row-item-b,
.footer-top-container-row-item-c {
  width: 330px;
  text-align: center;
  margin: 0 15px;
}

@media (max-width: 1100px) {
  .footer-top-container-row-item-a,
  .footer-top-container-row-item-b,
  .footer-top-container-row-item-c {
    padding-bottom: 72px;
  }
}

@media (max-width: 400px) {
  .footer-top-container-row-item-a,
  .footer-top-container-row-item-b,
  .footer-top-container-row-item-c {
    width: auto;
  }
}

.footer-top-container-row-title {
  text-align: center;
  padding-bottom: 20px;
  color: #fff;
  font-size: 0.875rem;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
}

.footer-top-container-row-discription-b-icon {
  height: 41px;
  width: 41px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 3px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer-top-container-row-discription-b-icon img {
  height: 41px;
  width: 41px;
}

.footer-top-container-row-discription-b-icon:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.footer-top-container-row-discription {
  color: #808080;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
}

.footer-top-container-row-discription-b {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-end {
  background-color: #313454;
}

.footer-end-container {
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
}

.footer-end-container-copyright {
  text-align: center;
  padding: 30px 0;
  color: #808080;
  font-size: 0.875rem;
  font-family: "Raleway", sans-serif;
}

.footer-end-container-heart {
  color: red;
}

.footer-end-container-text-by-kamal-chaneman {
  color: #ffffff;
}

.team {
  width: 100%;
  padding: 100px 0 100px;
}

.team .team-container {
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
}

.team .team-container .team-container-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1150px) {
  .team .team-container .team-container-row {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 614px) {
  .team .team-container .team-container-row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.team .team-container .team-container-row .team-container-row-item {
  width: 272px;
}

@media (max-width: 1150px) {
  .team .team-container .team-container-row .team-container-row-item {
    margin: 0 50px;
  }
}

@media (max-width: 775px) {
  .team .team-container .team-container-row .team-container-row-item {
    margin: 0 10px;
  }
}

.team .team-container .team-container-row .team-container-row-item .team-container-row-item-avatar {
  padding-bottom: 30px;
}

.team .team-container .team-container-row .team-container-row-item .team-container-row-item-name {
  font-size: 1.375rem;
  padding-bottom: 16px;
  font-family: "Raleway", sans-serif;
}

.team .team-container .team-container-row .team-container-row-item .team-container-row-item-position {
  font-size: 0.8125rem;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  padding-bottom: 29px;
  color: #e84545;
}

.team .team-container .team-container-row .team-container-row-item .team-container-row-item-discription {
  padding-bottom: 30px;
  font-size: 0.875rem;
  font-family: "Raleway", sans-serif;
}

.team .team-container .team-container-row .team-container-row-item .team-container-row-item-social-icons-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team .team-container .team-container-row .team-container-row-item .team-container-row-item-social-icons-row .team-container-row-item-social-icon {
  height: 41px;
  width: 41px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 3px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.team .team-container .team-container-row .team-container-row-item .team-container-row-item-social-icons-row .team-container-row-item-social-icon img {
  height: 41px;
  width: 41px;
}

.team .team-container .team-container-row .team-container-row-item .team-container-row-item-social-icons-row .team-container-row-item-social-icon:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.works {
  width: 100%;
}

.works .works-container {
  margin: auto;
}

.works .works-container .works-container-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.works .works-container .works-container-row .works-container-row-item {
  width: 25%;
  height: 350px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1px 1px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: 1px solid white;
}

@media (max-width: 768px) {
  .works .works-container .works-container-row .works-container-row-item {
    width: 50%;
  }
}

@media (max-width: 600px) {
  .works .works-container .works-container-row .works-container-row-item {
    width: 100%;
  }
}

.works .works-container .works-container-row .works-container-row-item .works-container-row-item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(218, 45, 45, 0.85);
  opacity: 0;
  text-align: center;
  font-size: 1.25rem;
  color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.works .works-container .works-container-row .works-container-row-item .works-container-row-item-content:hover {
  opacity: 1;
}

.works .works-container .works-container-row .works-container-row-item .works-container-row-item-content .works-container-row-item-title {
  padding-bottom: 13px;
  font-size: 0.875rem;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
}

.works .works-container .works-container-row .works-container-row-item .works-container-row-item-content .works-container-row-item-discription {
  font-size: 0.875rem;
  font-family: "Raleway", sans-serif;
}

.works .works-container .works-container-row .work-1 {
  background: url("../img/work_1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.works .works-container .works-container-row .work-2 {
  background: url("../img/work_2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.works .works-container .works-container-row .work-3 {
  background: url("../img/work_3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.works .works-container .works-container-row .work-4 {
  background: url("../img/work_11.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.works .works-container .works-container-row .work-5 {
  background: url("../img/work_5.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.works .works-container .works-container-row .work-6 {
  background: url("../img/work_6.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.works .works-container .works-container-row .work-7 {
  background: url("../img/work_7.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.works .works-container .works-container-row .work-8 {
  background: url("../img/work_8.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

/* Основные стили */
/* Слайд */
/* Слайд активный */
/* Слайд основной */
/* Слайд по центру */
/* Стрелка */
/* Стрелка влево */
/* Стрелка вправо */
/* Стрелка не активная */
/* Точки */
/* Слайдер */
.slick-slider {
  min-width: 0;
}

/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

/* Конкретный слайдер */
.slider-container {
  position: relative;
}

/* Стрелка */
.slider-container .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -30px 0px 0px 0px;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 60px;
}

/* Стрелка влево */
.slider-container .slick-arrow.slick-prev {
  left: 0;
  background: url("../img/chevron-left-solid.svg") 0 0/100% no-repeat;
}

/* Стрелка вправо */
.slider-container .slick-arrow.slick-next {
  right: 0;
  background: url("../img/chevron-right-solid.svg") 0 0/100% no-repeat;
}

/* Стрелка неактивности*/
.slider-container .slick-arrow.slick-disabled {
  opacity: 0.2;
}

/* Точки */
.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider-container .slick-dots li {
  list-style: none;
  margin: 0px 10px;
}

/* Элемент точки */
.slider-container .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 50%;
}

.slider-container .slick-dots button:hover {
  cursor: pointer;
}

/* Активная точка */
.slider-container .slick-dots li.slick-active button {
  background-color: transparent;
  border: 1px solid black;
}

.slider-container {
  width: 100%;
}

.slider__item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #53354a;
}

@media (max-width: 840px) {
  .slider__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.slider__item-image {
  width: 50%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 840px) {
  .slider__item-image {
    width: 100%;
  }
}

.slider__item-img {
  width: 100%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  position: relative;
}

.slide-feedback {
  padding: 44px 115px 0 85px;
  width: 50%;
}

@media (max-width: 840px) {
  .slide-feedback {
    width: 100%;
    padding: 20px 20px 20px;
  }
}

.slide-feedback-text {
  font-size: 36px;
  font-family: "cardo", sans-serif;
  color: #fff;
  padding-bottom: 30px;
}

@media (max-width: 1700px) {
  .slide-feedback-text {
    font-size: 30px;
  }
}

@media (max-width: 1100px) {
  .slide-feedback-text {
    font-size: 25px;
  }
}

@media (max-width: 970px) {
  .slide-feedback-text {
    font-size: 20px;
  }
}

.slide-feedback-user {
  font-size: 13px;
  font-family: "Raleway", sans-serif;
  color: #fff;
  text-transform: uppercase;
}

@media (max-width: 970px) {
  .slide-feedback-user {
    font-size: 10px;
  }
}

header,
footer,
.section {
  width: 100%;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 320px;
}
