.footer-top {
    background-color: #3a3e64;
}

.footer-container {
    max-width: 1170px;
    margin: auto;
    padding: 0 15px;
}

.footer-container-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.footer-container-row-item-a,
.footer-container-row-item-c {
    padding: 72px 0 110px;
    display: flex;
    text-align: center;
    flex-direction: column;
}
.footer-container-row-item-b {
    padding: 72px 0 110px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
}

.footer-container-row-title {
    text-align: center;
    padding-bottom: 32px;
    color: #fff;
}

.footer-container-row-discription-b-icon {
    height: 41px;
    width: 41px;
    display: flex;
    margin: 0 3px;
}

.footer-container-row-discription {
    color: #808080;
}

.footer-container-row-discription-b {
    display: flex;
    flex-direction: row;
}

.footer-container-row-item-c {
    max-width: 328px;
}

.footer-container-row-item-a {
    max-width: 146px;
}

.footer-end {
    background-color: #313454;
}

.footer-end-container {
    max-width: 1170px;
    margin: auto;
    padding: 0 15px;
}

.footer-end-container-copyright {
    text-align: center;
    padding: 30px 0;
    color: #808080;
}

.heart {
    color: red;
}

.footer-end-text-by-kamal-chaneman {
    color: #ffffff;
}
