.header {
    background: url("../img/background_1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    // width: 100vh;
    // height: 100vh;

    &::after {
        content: "";
        width: 100%;
        height: 100%;
        background-color: rgba(43, 46, 74, 0.8);
        display: block;
        position: absolute;
        top: 0;
        left: 0;
    }
    &-container {
        max-width: 1170px;
        margin: auto;
        padding: 0 15px;
        position: relative;
        z-index: 1;

        .header-container-logo {
            padding: 45px 0;
            border-bottom: 1px solid #66697e;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: center;

            .header-container-logo-box {
                color: #000000;

                .header-container-logo-active {
                    color: #66697e;
                }
            }

            .header-container-menu {
                min-width: 585px;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;

                .header-container-menu-item {
                    color: #ffffff;
                }
            }
        }

        .header-container-title-discription-button {
            padding: 155px 0 157px;

            .header-container-title {
                padding-bottom: 41px;
                margin: auto;
                max-width: 865px;
                text-align: center;
                color: #ffffff;
                text-transform: uppercase;

                h1 {
                    font-size: 65px;
                }
            }
            .header-container-discription {
                padding-bottom: 76px;
                margin: auto;
                text-align: center;
                max-width: 912px;
                color: #ffffff;
                font-size: 22px;
            }
            .header-container-button {
                width: 201px;
                height: 47px;
                margin: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #e84545;
                border: 0;
                color: #ffffff;
                font-size: 13px;

                &:hover {
                    cursor: pointer;
                }
                &:active {
                    box-shadow: inset -2px -2px 3px rgba(216, 216, 216, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
                }
            }
        }
    }
}

// .header-button:hover {
//     cursor: pointer;
// }

// .header-button:active {
//     box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
// }
