.team {
    width: 100%;
    padding: 100px 0 100px;

    .team-container {
        max-width: 1170px;
        margin: auto;
        padding: 0 15px;

        .team-container-row {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;

            @include for-phone-and-tablet-only {
                justify-content: center;
            }

            .team-container-row-item {
                width: 272px;

                @include for-phone-and-tablet-only {
                    margin: 0 20px 20px;
                }
                .team-container-row-item-avatar {
                    padding-bottom: 30px;
                }

                .team-container-row-item-name {
                    font-size: 22px;
                    padding-bottom: 16px;
                    font-family: "Raleway", sans-serif;
                }

                .team-container-row-item-position {
                    font-size: 13px;
                    font-family: "Raleway", sans-serif;
                    text-transform: uppercase;
                    padding-bottom: 29px;
                    color: #e84545;
                }

                .team-container-row-item-discription {
                    padding-bottom: 30px;
                    font-size: 14px;
                    font-family: "Raleway", sans-serif;
                }

                .team-container-row-item-social-icons-row {
                    display: flex;

                    .team-container-row-item-social-icon {
                        height: 41px;
                        width: 41px;
                        display: flex;
                        margin-right: 3px;
                        transition: 0.3s;

                        &:hover {
                            transform: scale(1.2);
                        }

                        // path {
                        //     fill: #111;
                        //     transition: 0.3s;

                        //     &:hover {
                        //         // fill: rgb(206, 0, 0);
                        //         transform: scale(1.2);
                        //     }
                        // }
                    }
                }
            }
        }
    }
}
