.works {
    width: 100%;
    // padding: 100px 0 100px;

    .works-container {
        // max-width: 1170px;
        margin: auto;
        // padding: 0 15px;

        .works-container-row {
            width: 100%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            .works-container-row-item {
                width: 25%;
                min-width: 470px;
                height: 351px;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 1px 1px;
                transition: 0.4s;
                position: relative;
                border: 1px solid white;

                // background: url("../img/work_1.jpg");
                // background-repeat: no-repeat;
                // background-size: cover;
                // background-position: center;
                // position: relative;
                .works-container-row-item-title {
                    font-size: 14px;
                    font-weight: 700;
                    font-family: "Raleway", sans-serif;
                    text-transform: uppercase;
                }
                .works-container-row-item-discription {
                    font-size: 14px;
                    font-family: "Raleway", sans-serif;
                }
            }
        }
    }
}

.works-container-row-item-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(218, 45, 45, 0.85);
    opacity: 0;
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    // z-index: 2;
    transition: 0.5s;

    &:hover {
        opacity: 1;
        // filter: blur(5px);
    }

    .works-container-row-item-title {
        padding-bottom: 13px;
    }
}
