.works {
    width: 100%;

    .works-container {
        margin: auto;

        .works-container-row {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            .works-container-row-item {
                width: 25%;
                height: 350px;
                overflow: hidden;
                display: flex;
                justify-content: center;
                padding: 1px 1px;
                transition: 0.4s;
                border: 1px solid white;

                @media (max-width: 768px) {
                    width: 50%;
                }

                @media (max-width: 600px) {
                    width: 100%;
                }

                .works-container-row-item-content {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(218, 45, 45, 0.85);
                    opacity: 0;
                    text-align: center;
                    font-size: 1.25rem;
                    color: #ffffff;
                    position: absolute;
                    top: 0;
                    left: 0;
                    transition: 0.5s;

                    &:hover {
                        opacity: 1;
                        // filter: blur(5px);
                    }

                    .works-container-row-item-title {
                        padding-bottom: 13px;
                        font-size: 0.875rem;
                        font-weight: 700;
                        font-family: "Raleway", sans-serif;
                        text-transform: uppercase;
                    }
                    .works-container-row-item-discription {
                        font-size: 0.875rem;
                        font-family: "Raleway", sans-serif;
                    }
                }
            }
            .work-1 {
                background: url("../img/work_1.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                position: relative;
            }

            .work-2 {
                background: url("../img/work_2.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                position: relative;
            }

            .work-3 {
                background: url("../img/work_3.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                position: relative;
            }

            .work-4 {
                background: url("../img/work_11.jpeg");
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                position: relative;
            }

            .work-5 {
                background: url("../img/work_5.png");
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                position: relative;
            }

            .work-6 {
                background: url("../img/work_6.png");
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                position: relative;
            }

            .work-7 {
                background: url("../img/work_7.png");
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                position: relative;
            }

            .work-8 {
                background: url("../img/work_8.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                position: relative;
            }
        }
    }
}
