@import "_mixins";
@import "_reset";
@import "_header";
@import "_features";
@import "_dowload";
@import "_footer";
@import "_team";
@import "_works";

header,
footer,
.section {
    width: 100%;
}

.page {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
